.imageEditor{
    font-size: 16pt;
  }
  
  .canvas{
    border: 2px solid black;
    border-radius: 2px;
    display: inline-block;
    width: 600px;
    margin: 30px;
    height: 400 px;
  }
  
  .editorOptions{
    display: inline-block;
  }
  
  .imageOption{
    margin: 15px;
  }

  #footer {
      font-size: 16px;
  }